.block-picker > div:nth-child(2),
.block-picker > div:nth-child(3) > div:nth-child(1) {
  opacity: 50%;
}

.button-start {
  margin-right: 20px !important;
}

.button-end {
  margin-left: 20px !important;
}

.icon {
  transform: rotate(0deg);
  transition: transform 0.25s ease-in-out !important;
}

.icon-rotate {
  transform: rotate(180deg);
  transition: transform 0.25s ease-in-out !important;
}
